In [1]:
import pandas as pd 
import numpy as np
from pandas import DataFrame,Series

In [2]:
df=DataFrame(data=np.ndarray((10,3)),columns=list('ABC'))

In [4]:
df.loc[0]+df.loc[1]

A    1.751515e-314
B    1.751515e-314
C    1.751515e-314
dtype: float64

In [26]:
df.loc[0]=Series(data=[1,2,3],index=list('ABC'))

df.loc[3]=(df.loc[2]==df.loc[1])

In [18]:
re.replace(to_replace=True,value='10')

D:\installed\anaconda3.2.50\lib\site-packages\pandas\core\internals.py:4417: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  comp = (nn == nn_at)

A    10
B    10
C    10
dtype: object

In [43]:
df

              A             B             C
0             1             2             3
1  8.75757e-315  8.75757e-315  8.75757e-315
2  8.75757e-315  8.75757e-315  8.75757e-315
3          True          True          True
4         False         False         False
5  8.75757e-315  8.75757e-315  8.75757e-315
6  8.75757e-315  8.75757e-315  8.75757e-315
7  8.75757e-315  8.75757e-315  8.75757e-315
8  8.75757e-315  8.75757e-315  8.75757e-315
9  8.75757e-315  8.75757e-315  8.75757e-315
3          True          True          True

In [37]:
df.loc[3].apply(lambda x:type(x))

A    <class 'bool'>
B    <class 'bool'>
C    <class 'bool'>
Name: 3, dtype: object

In [48]:
df.loc[3]=df.loc[3].astype(float)

In [41]:
df.loc[4]=(df.loc[0]==df.loc[1])

In [50]:
df.loc[4].astype(float,inplace=False)

A    0
B    0
C    0
Name: 4, dtype: float64

In [52]:
df.loc[5]=1

In [53]:
df

              A             B             C
0             1             2             3
1  8.75757e-315  8.75757e-315  8.75757e-315
2  8.75757e-315  8.75757e-315  8.75757e-315
3             1             1             1
4         False         False         False
5             1             1             1
6  8.75757e-315  8.75757e-315  8.75757e-315
7  8.75757e-315  8.75757e-315  8.75757e-315
8  8.75757e-315  8.75757e-315  8.75757e-315
9  8.75757e-315  8.75757e-315  8.75757e-315
3          True          True          True

In [57]:
import threading