In [2]:
import pandas as pd 
import numpy as np
from pandas import DataFrame,Series

In [3]:
df=DataFrame(data=np.ndarray((10,3)),columns=list('ABC'))

In [4]:
df.loc[0]+df.loc[1]

A    1.751515e-314
B    1.751515e-314
C    1.751515e-314
dtype: float64

In [26]:
df.loc[0]=Series(data=[1,2,3],index=list('ABC'))

df.loc[3]=(df.loc[2]==df.loc[1])

In [18]:
re.replace(to_replace=True,value='10')

D:\installed\anaconda3.2.50\lib\site-packages\pandas\core\internals.py:4417: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  comp = (nn == nn_at)

A    10
B    10
C    10
dtype: object

In [43]:
df

              A             B             C
0             1             2             3
1  8.75757e-315  8.75757e-315  8.75757e-315
2  8.75757e-315  8.75757e-315  8.75757e-315
3          True          True          True
4         False         False         False
5  8.75757e-315  8.75757e-315  8.75757e-315
6  8.75757e-315  8.75757e-315  8.75757e-315
7  8.75757e-315  8.75757e-315  8.75757e-315
8  8.75757e-315  8.75757e-315  8.75757e-315
9  8.75757e-315  8.75757e-315  8.75757e-315
3          True          True          True

In [37]:
df.loc[3].apply(lambda x:type(x))

A    <class 'bool'>
B    <class 'bool'>
C    <class 'bool'>
Name: 3, dtype: object

In [48]:
df.loc[3]=df.loc[3].astype(float)

In [41]:
df.loc[4]=(df.loc[0]==df.loc[1])

In [50]:
df.loc[4].astype(float,inplace=False)

A    0
B    0
C    0
Name: 4, dtype: float64

In [52]:
df.loc[5]=1

In [53]:
df

              A             B             C
0             1             2             3
1  8.75757e-315  8.75757e-315  8.75757e-315
2  8.75757e-315  8.75757e-315  8.75757e-315
3             1             1             1
4         False         False         False
5             1             1             1
6  8.75757e-315  8.75757e-315  8.75757e-315
7  8.75757e-315  8.75757e-315  8.75757e-315
8  8.75757e-315  8.75757e-315  8.75757e-315
9  8.75757e-315  8.75757e-315  8.75757e-315
3          True          True          True

更改dataframe元素的类型，并更新

In [35]:
df.astype('str')+['_s','_b','_h']

                      A                     B                      C
0  9.60628324733e-312_s  9.60628607971e-312_b   9.60628602007e-312_h
1  9.60628602034e-312_s  9.60628613505e-312_b   9.60628611995e-312_h
2  9.60628613433e-312_s  9.60628612026e-312_b   9.60628613576e-312_h
3  9.60628562027e-312_s  9.60628613647e-312_b   9.60628562098e-312_h
4  9.60628613718e-312_s  9.60628612058e-312_b   9.60628613789e-312_h
5  9.60628562169e-312_s    8.038434224e-315_b   9.60586055251e-312_h
6   9.6062860809e-312_s   8.0384343821e-315_b   9.60628608129e-312_h
7  8.03764790864e-315_s  9.60628612386e-312_b   1.33360289376e+241_h
8  3.06610039487e+185_s  1.67492582437e+243_b   7.30927250087e-114_h
9  4.03227008004e+175_s  1.63794987749e-307_b  -3.38460729712e+125_h

In [29]:
col=df.columns.tolist()

In [30]:
col

['A', 'B', 'C']

In [32]:
col[0]='N'
col

['N', 'B', 'C']

In [33]:
df.columns

Index(['A', 'B', 'C'], dtype='object')