In [2]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series

In [29]:
df1=DataFrame(data=np.ndarray((5,4)),columns=list('ABCD'))
df1['A']=list('cblkj')
df2=DataFrame(data=np.ndarray((5,4)),columns=list('ABCD'))
df2['A']=list('kljew')

In [46]:
df1

   A              B              C              D
0  c  1.112599e-306  7.566039e-307  8.900981e-307
1  b  8.901042e-307  1.001322e-307  6.230370e-307
2  l  9.346098e-307  8.455939e-307  9.346010e-307
3  k  1.246120e-306  6.230597e-307  9.791072e-307
4  j  1.112606e-306  7.566025e-307  8.344456e-308

In [47]:
df2

   A              B              C              D
0  k  1.112599e-306  7.566039e-307  8.900981e-307
1  l  8.901042e-307  1.001322e-307  6.230370e-307
2  j  9.346098e-307  8.455939e-307  9.346010e-307
3  e  1.246120e-306  6.230597e-307  9.791072e-307
4  w  1.112606e-306  7.566025e-307  8.344456e-308

In [56]:
help(df2.merge)

Help on method merge in module pandas.core.frame:

merge(right, how='inner', on=None, left_on=None, right_on=None, left_index=False, right_index=False, sort=False, suffixes=('_x', '_y'), copy=True, indicator=False) method of pandas.core.frame.DataFrame instance
    Merge DataFrame objects by performing a database-style join operation by
    columns or indexes.

    If joining columns on columns, the DataFrame indexes *will be
    ignored*. Otherwise if joining indexes on indexes or indexes on a column or
    columns, the index will be passed on.

    Parameters
    ----------
    right : DataFrame
    how : {'left', 'right', 'outer', 'inner'}, default 'inner'
        * left: use only keys from left frame (SQL: left outer join)
        * right: use only keys from right frame (SQL: right outer join)
        * outer: use union of keys from both frames (SQL: full outer join)
        * inner: use intersection of keys from both frames (SQL: inner join)
    on : label or list
        Field names to join on. Must be found in both DataFrames. If on is
        None and not merging on indexes, then it merges on the intersection of
        the columns by default.
    left_on : label or list, or array-like
        Field names to join on in left DataFrame. Can be a vector or list of
        vectors of the length of the DataFrame to use a particular vector as
        the join key instead of columns
    right_on : label or list, or array-like
        Field names to join on in right DataFrame or vector/list of vectors per
        left_on docs
    left_index : boolean, default False
        Use the index from the left DataFrame as the join key(s). If it is a
        MultiIndex, the number of keys in the other DataFrame (either the index
        or a number of columns) must match the number of levels
    right_index : boolean, default False
        Use the index from the right DataFrame as the join key. Same caveats as
        left_index
    sort : boolean, default False
        Sort the join keys lexicographically in the result DataFrame
    suffixes : 2-length sequence (tuple, list, ...)
        Suffix to apply to overlapping column names in the left and right
        side, respectively
    copy : boolean, default True
        If False, do not copy data unnecessarily
    indicator : boolean or string, default False
        If True, adds a column to output DataFrame called "_merge" with
        information on the source of each row.
        If string, column with information on source of each row will be added to
        output DataFrame, and column will be named value of string.
        Information column is Categorical-type and takes on a value of "left_only"
        for observations whose merge key only appears in 'left' DataFrame,
        "right_only" for observations whose merge key only appears in 'right'
        DataFrame, and "both" if the observation's merge key is found in both.

        .. versionadded:: 0.17.0

    Examples
    --------

    >>> A              >>> B
        lkey value         rkey value
    0   foo  1         0   foo  5
    1   bar  2         1   bar  6
    2   baz  3         2   qux  7
    3   foo  4         3   bar  8

    >>> merge(A, B, left_on='lkey', right_on='rkey', how='outer')
       lkey  value_x  rkey  value_y
    0  foo   1        foo   5
    1  foo   4        foo   5
    2  bar   2        bar   6
    3  bar   2        bar   8
    4  baz   3        NaN   NaN
    5  NaN   NaN      qux   7

    Returns
    -------
    merged : DataFrame
        The output type will the be same as 'left', if it is a subclass
        of DataFrame.

In [67]:
df1.merge(df2.loc[[0,1]],left_on=('A'),right_on='A',how='left')

,A,B_x,C_x,D_x,B_y,C_y,D_y
0,c,1.112599e-306,7.566039e-307,8.900981e-307,NaN,NaN,NaN
1,b,8.901042e-307,1.001322e-307,6.230370e-307,NaN,NaN,NaN
2,l,9.346098e-307,8.455939e-307,9.346010e-307,8.901042e-307,1.001322e-307,6.230370e-307
3,k,1.246120e-306,6.230597e-307,9.791072e-307,1.112599e-306,7.566039e-307,8.900981e-307
4,j,1.112606e-306,7.566025e-307,8.344456e-308,NaN,NaN,NaN

In [75]:
df1.merge(df2.loc[[0,1]],left_on=('A'),right_on='A',how='right',indicator=True)[['A','B_x']]

   A            B_x
0  l  9.346098e-307
1  k  1.246120e-306

In [88]:
oneDf=df1[df1['A']=='l']

In [96]:
oneDf.merge(df1,left_on='A',right_on='A',suffixes=('_l','_r'),how='right')

,A,B_l,C_l,D_l,B_r,C_r,D_r
0,l,9.346098e-307,8.455939e-307,9.346010e-307,9.346098e-307,8.455939e-307,9.346010e-307
1,c,NaN,NaN,NaN,1.112599e-306,7.566039e-307,8.900981e-307
2,b,NaN,NaN,NaN,8.901042e-307,1.001322e-307,6.230370e-307
3,k,NaN,NaN,NaN,1.246120e-306,6.230597e-307,9.791072e-307
4,j,NaN,NaN,NaN,1.112606e-306,7.566025e-307,8.344456e-308

In [115]:
temp=DataFrame(df1.loc[0])

PandasError: DataFrame constructor not properly called!

In [156]:
page=2
t=df1[page:page+1]
t

   A              B              C              D
2  l  9.346098e-307  8.455939e-307  9.346010e-307

In [159]:
t.index=[0]

In [148]:
help(t.reindex)

Help on method reindex in module pandas.core.frame:

reindex(index=None, columns=None, **kwargs) method of pandas.core.frame.DataFrame instance
    Conform DataFrame to new index with optional filling logic, placing
    NA/NaN in locations having no value in the previous index. A new object
    is produced unless the new index is equivalent to the current one and
    copy=False

    Parameters
    ----------
    index, columns : array-like, optional (can be specified in order, or as
        keywords)
        New labels / index to conform to. Preferably an Index object to
        avoid duplicating data
    method : {None, 'backfill'/'bfill', 'pad'/'ffill', 'nearest'}, optional
        method to use for filling holes in reindexed DataFrame.
        Please note: this is only  applicable to DataFrames/Series with a
        monotonically increasing/decreasing index.
          * default: don't fill gaps
          * pad / ffill: propagate last valid observation forward to next valid
          * backfill / bfill: use next valid observation to fill gap
          * nearest: use nearest valid observations to fill gap
    copy : boolean, default True
        Return a new object, even if the passed indexes are the same
    level : int or name
        Broadcast across a level, matching Index values on the
        passed MultiIndex level
    fill_value : scalar, default np.NaN
        Value to use for missing values. Defaults to NaN, but can be any
        "compatible" value
    limit : int, default None
        Maximum number of consecutive elements to forward or backward fill
    tolerance : optional
        Maximum distance between original and new labels for inexact
        matches. The values of the index at the matching locations most
        satisfy the equation ``abs(index[indexer] - target) <= tolerance``.

        .. versionadded:: 0.17.0

    Examples
    --------

    Create a dataframe with some fictional data.

    >>> index = ['Firefox', 'Chrome', 'Safari', 'IE10', 'Konqueror']
    >>> df = pd.DataFrame({
    ...      'http_status': [200,200,404,404,301],
    ...      'response_time': [0.04, 0.02, 0.07, 0.08, 1.0]},
    ...       index=index)
    >>> df
                http_status  response_time
    Firefox            200           0.04
    Chrome             200           0.02
    Safari             404           0.07
    IE10               404           0.08
    Konqueror          301           1.00

    Create a new index and reindex the dataframe. By default
    values in the new index that do not have corresponding
    records in the dataframe are assigned ``NaN``.

    >>> new_index= ['Safari', 'Iceweasel', 'Comodo Dragon', 'IE10',
    ...             'Chrome']
    >>> df.reindex(new_index)
                   http_status  response_time
    Safari                 404           0.07
    Iceweasel              NaN            NaN
    Comodo Dragon          NaN            NaN
    IE10                   404           0.08
    Chrome                 200           0.02

    We can fill in the missing values by passing a value to
    the keyword ``fill_value``. Because the index is not monotonically
    increasing or decreasing, we cannot use arguments to the keyword
    ``method`` to fill the ``NaN`` values.

    >>> df.reindex(new_index, fill_value=0)
                   http_status  response_time
    Safari                 404           0.07
    Iceweasel                0           0.00
    Comodo Dragon            0           0.00
    IE10                   404           0.08
    Chrome                 200           0.02

    >>> df.reindex(new_index, fill_value='missing')
                  http_status response_time
    Safari                404          0.07
    Iceweasel         missing       missing
    Comodo Dragon     missing       missing
    IE10                  404          0.08
    Chrome                200          0.02

    To further illustrate the filling functionality in
    ``reindex``, we will create a dataframe with a
    monotonically increasing index (for example, a sequence
    of dates).

    >>> date_index = pd.date_range('1/1/2010', periods=6, freq='D')
    >>> df2 = pd.DataFrame({"prices": [100, 101, np.nan, 100, 89, 88]},
            index=date_index)
    >>> df2
                prices
    2010-01-01     100
    2010-01-02     101
    2010-01-03     NaN
    2010-01-04     100
    2010-01-05      89
    2010-01-06      88

    Suppose we decide to expand the dataframe to cover a wider
    date range.

    >>> date_index2 = pd.date_range('12/29/2009', periods=10, freq='D')
    >>> df2.reindex(date_index2)
                prices
    2009-12-29     NaN
    2009-12-30     NaN
    2009-12-31     NaN
    2010-01-01     100
    2010-01-02     101
    2010-01-03     NaN
    2010-01-04     100
    2010-01-05      89
    2010-01-06      88
    2010-01-07     NaN

    The index entries that did not have a value in the original data frame
    (for example, '2009-12-29') are by default filled with ``NaN``.
    If desired, we can fill in the missing values using one of several
    options.

    For example, to backpropagate the last valid value to fill the ``NaN``
    values, pass ``bfill`` as an argument to the ``method`` keyword.

    >>> df2.reindex(date_index2, method='bfill')
                prices
    2009-12-29     100
    2009-12-30     100
    2009-12-31     100
    2010-01-01     100
    2010-01-02     101
    2010-01-03     NaN
    2010-01-04     100
    2010-01-05      89
    2010-01-06      88
    2010-01-07     NaN

    Please note that the ``NaN`` value present in the original dataframe
    (at index value 2010-01-03) will not be filled by any of the
    value propagation schemes. This is because filling while reindexing
    does not look at dataframe values, but only compares the original and
    desired indexes. If you do want to fill in the ``NaN`` values present
    in the original dataframe, use the ``fillna()`` method.

    Returns
    -------
    reindexed : DataFrame

In [157]:
t.reindex([2])

     A   B   C   D
4  NaN NaN NaN NaN

In [160]:
t

   A              B              C              D
0  l  9.346098e-307  8.455939e-307  9.346010e-307

In [129]:
help(df1.to_json)

Help on method to_json in module pandas.core.generic:

to_json(path_or_buf=None, orient=None, date_format='epoch', double_precision=10, force_ascii=True, date_unit='ms', default_handler=None) method of pandas.core.frame.DataFrame instance
    Convert the object to a JSON string.

    Note NaN's and None will be converted to null and datetime objects
    will be converted to UNIX timestamps.

    Parameters
    ----------
    path_or_buf : the path or buffer to write the result string
        if this is None, return a StringIO of the converted string
    orient : string

        * Series

          - default is 'index'
          - allowed values are: {'split','records','index'}

        * DataFrame

          - default is 'columns'
          - allowed values are:
            {'split','records','index','columns','values'}

        * The format of the JSON string

          - split : dict like
            {index -> [index], columns -> [columns], data -> [values]}
          - records : list like
            [{column -> value}, ... , {column -> value}]
          - index : dict like {index -> {column -> value}}
          - columns : dict like {column -> {index -> value}}
          - values : just the values array

    date_format : {'epoch', 'iso'}
        Type of date conversion. `epoch` = epoch milliseconds,
        `iso`` = ISO8601, default is epoch.
    double_precision : The number of decimal places to use when encoding
        floating point values, default 10.
    force_ascii : force encoded string to be ASCII, default True.
    date_unit : string, default 'ms' (milliseconds)
        The time unit to encode to, governs timestamp and ISO8601
        precision.  One of 's', 'ms', 'us', 'ns' for second, millisecond,
        microsecond, and nanosecond respectively.
    default_handler : callable, default None
        Handler to call if object cannot otherwise be converted to a
        suitable format for JSON. Should receive a single argument which is
        the object to convert and return a serialisable object.

    Returns
    -------
    same type as input object with filtered info axis

In [130]:
df1.to_json()

'{"A":{"0":"c","1":"b","2":"l","3":"k","4":"j"},"B":{"0":1.112599401e-306,"1":8.901042388e-307,"2":9.346097901e-307,"3":1.24612013e-306,"4":1.112606192e-306},"C":{"0":7.566038816e-307,"1":1.001322282e-307,"2":8.455939341e-307,"3":6.230597257e-307,"4":7.566025235e-307},"D":{"0":8.900981274e-307,"1":6.230369776e-307,"2":9.346009626e-307,"3":9.791071931e-307,"4":8.34445562e-308}}'